@model NewProject.Models.Formularios
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

@using (Html.BeginForm())
{
    <span><strong>Nombre:</strong> </span><br />
    @Html.TextBoxFor(u => u.Nombre)<br />

    @Html.LabelFor(u => u.Apellido_Paterno)<br />
    @Html.TextBoxFor(u => u.Apellido_Paterno)<br />

    @Html.LabelFor(u => u.Apellido_Materno)<br />
    @Html.TextBoxFor(u => u.Apellido_Materno)<br />

    <span><strong>CI:</strong>  </span><br />
    @Html.TextBoxFor(u => u.CI)<br />
    <span><strong>Telefono:</strong> </span><br />
    @Html.TextBoxFor(u => u.Telefono)<br />
    <span><strong>Email:</strong> </span><br />
    @Html.TextBoxFor(u => u.Email)<br />
    <span><strong>Colegio:</strong> </span><br />
    @Html.TextBoxFor(u => u.Colegio)<br />
    <span><strong>Curso:</strong> </span><br />
    @Html.TextBoxFor(u => u.Curso)<br />
    <span><strong>Carrera de Interes:</strong> </span><br />
    @Html.TextBoxFor(u => u.Carrera)<br />
    <input type="submit" value="Registrar" />
}